section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
    padding: 1rem;
    padding-top: 2rem;
}

.header {
    display: flex;
    align-items: center;
    color: white;  
}

span {
    font-size: 2rem;
}

.Div1 {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.Div2 {
    grid-area: 1 / 2 / 2 / 4;
    display: flex;
    justify-content: space-around;
}

.Div3 {
    grid-area: 1 / 5 / 2 / 6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navLink {
    font-size: 2rem;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.75);
    transition: 0.4s ease;
}

.navLink:hover{
    color: #fff;
    opacity: 1;
    cursor: pointer;
}

.socialLink {
    transition: 0.3s ease;
    color: white;
    border-radius: 50px;
    padding: 8px;
}

.socialLink:hover {
    background-color: #212d45;
    transform: scale(1.2);
    cursor: pointer;
}