section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
    padding: 1rem;
    padding-top: 2rem;
}

span {
    font-size: 2rem;
}

.Div1 {

}

.Div2 {

}

.Div3 {

}

.navLink {
    
}

.socialLink